body {
    font-family: 'Poppins', sans-serif;
}


.flexible-container {
    display: flex;
    margin-bottom: 130px;
}

h1 {
    font-size: 35px;
}

.half-width {
    width: 100%;
    padding-left: 3%;
}

.half-width img {
    width: 90%;
}

.down {
    padding-bottom: 20px;
}

.amet {
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 160px;

}

.top-side {
    margin-top: 20px;
}

.content {
    color: tomato;
}

.button {
    text-decoration: none;
    background: linear-gradient(green, tomato);
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
}

.half-width .start {
    width: 90%;
    margin-top: 5%;
}

.half-width .start-end {
    padding-right: 15%;
}

.half-width .shes {
    width: 65%;
}

.half-width .end {
    padding-right: 10%;
}

.experience-item {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px gray;
    margin-bottom: 100px;

}

.reveniew {
    box-shadow: 10px 10px 20px gray;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-left: 50px;
}

.rawha {
    text-align: center;
    background-color: black;
    padding: 10px 10px 90px;

}

.shohel {
    color: white;
}

.rawha p {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}